ul {
  list-style-type: none;
}

form label {
  font-size: 1rem;
}

body .card {
  box-shadow: -7px 11px 26px 6px rgba(133, 146, 171, 1);
  border-radius: 5px;
}

body {
  background-image: url("../images/background.jpg");
  font-family: 'Poiret One', cursive;
  font-weight: 600;
  font-size: 1.25em;
}

#logo {
  height: 200px;
  width: 200px;
  margin-left: 12vw;
  -webkit-animation:spin 20s linear infinite;
  -moz-animation:spin 20s linear infinite;
  animation:spin 20s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

#login h1 {
  margin: 0em;
  margin-top: 0.25em;
  font-size: 3em;
}

#login h2 {
  margin: 0em;
}

/* Month header */

#calendar {
  box-shadow: -5px 10px 48px -5px rgba(0, 0, 0, 0.66);
  margin: 1em;
  border-radius: 0.5em;
  border-width: thick;
}

#appointments {
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

#date {
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

#close {
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

div.month {
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

ul.days {
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

.month, #date {
  padding: 70px 25px;
  background: rgb(28, 19, 167);
  background: linear-gradient(90deg, rgba(28, 19, 167, 1) 9%, rgba(20, 78, 147, 1) 36%, rgba(0, 212, 255, 1) 90%);
  text-align: center;
}

/* Month list */

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li, #date {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.calYear {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Previous button inside month header */

.month .prev {
  float: left;
  padding-top: 10px;
}

/* Next button */

.month .next {
  float: right;
  padding-top: 10px;
}

.prev:hover, .next:hover {
  cursor: pointer;
}

/* Weekdays (Mon-Sun) */

.weekdays, #appt-header, #close {
  margin: 0;
  padding: 10px 0;
  background-color: #ddd;
}

#appt-header, #close, .appt>div {
  text-align: center;
  color: #666;
}

.appt {
  margin: 0;
  padding: 10px 0;
  background-color: #eee;
}

.appt:not(:first-child) {
  border-top: 1px solid #666
}

.weekdays li {
  display: inline-block;
  width: 13vw;
  color: #666;
  text-align: center;
}

/* Days */

.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13vw;
  text-align: center;
  margin-bottom: 5px;
  color: #777;
}

/* Highlight the "current" day */

.days li .active, .clickable:hover {
  padding: 5px;
  background: LightBlue;
  color: white !important;
}

.days li .active, .redclickable:hover {
  padding: 5px;
  background: LightBlue;
  color: red !important;
}

.clickable:hover, #close:hover {
  cursor: pointer;
}

.clickable {
  color: Blue;
}

.redclickable:hover, #close:hover {
  cursor: pointer;
}

.redclickable {
  color: red;
}

.on {
  display: block;
}

.off {
  display: none;
}

input#usernameInput.form-control {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

input#passwordInput.form-control {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

#login {
  margin-left: 35%;
  text-shadow: 2px 2px 9px rgba(0, 0, 0, 1);
}

input.btn.btn-primary.pull-right {
  margin: 0.5em;
}

#admintoolbar {
  margin-top: 1em;
  margin-bottom: 1em;
}

#toolbar {
  margin-top: 1em;
  margin-bottom: 1em;
}

#admin-home {
  margin-left: 1em;
  margin-right: 1em;
}

#user-home {}

#logout, #admin-logout, #requestAppointment {
  float: right;
  margin-left: 1em;
}

#toolbar {
  margin: 1em;
  padding-bottom: 2em;
}

#update-appointment {
  margin: 1em;
  padding: 0.5em
}

#update-appointment label {
  font-size: 0.9em;
}

#update-appointment button {
  margin-top: 1em;
}

#appointments {
  box-shadow: -5px 10px 48px -5px rgba(0, 0, 0, 0.66);
  margin: 1em;
}

#userappointmentdates {
  margin-left: 1em;
  margin-right: 1em;
}

#users-list {
  margin: 1em;
}

#users-list button {
  margin-bottom: 1em;
}

/*** Table Styles **/

th {
  color: white;
  background: #26A69A;
  border-bottom: 4px solid #9ea7af;
  border-right: 1px solid #343a45;
  padding: 0.5em;
  text-align: left;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  vertical-align: middle;
}

th:first-child {
  border-top-left-radius: 6px;
}

th:last-child {
  border-top-right-radius: 6px;
  border-right: none;
}

tr {
  border-top: 1px solid #C1C3D1;
  border-bottom: 1px solid #C1C3D1;
  color: #666B85;
}

tr:hover td {
  background: #4E5066;
  color: #FFFFFF;
  border-top: 1px solid #22262e;
}

tr:first-child {
  border-top: none;
}

tr:last-child {
  border-bottom: none;
}

tr:nth-child(odd) td {
  background: #EBEBEB;
}

tr:nth-child(odd):hover td {
  background: #4E5066;
}

tr:last-child td:first-child {
  border-bottom-left-radius: 3px;
}

tr:last-child td:last-child {
  border-bottom-right-radius: 3px;
}

td {
  background: #FFFFFF;
  padding: 20px;
  text-align: left;
  vertical-align: middle;
  border-right: 1px solid #C1C3D1;
}

td:last-child {
  border-right: 0px;
}

#requested {
  animation: blinker 1s linear infinite;
  border-right: 0px;
  background-color: red;
  color: white;
}

#nonRequested {
  border-right: 0px;
  background-color: green;
  color: white;
}

#requestedAppt {
  animation: blinker 1s linear infinite;
  background-color: red;
  color: white;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}
